.card-character {
    width: 19rem;
    min-height: 663px;
    margin: 16px 0px 6px 0px;
}

.location-text {
    max-width: 70%;
}

.location-unknown {
    margin-left: 2px !important;
}

.status-badge {
    margin-left: 5px;
    padding: 0.4rem;
    height: 13px;
}